<div class="row my-5 block_5050 block_5050_text_right_container">

    <div class="col-12 col-md-6 pr-0">
        <img src="/wp-content/themes/erebus/assets/images/5050_2.png" class="block_5050_image_left">
    </div>

    <div class="col-12 col-md-6 pr-0 pr-md-5 py-5 px-0 text-left">
        <div class="block_5050_text_area_right h-100 d-flex mr-0 pl-3 text-left">
            <div class="block_5050_content text-left align-self-center ml-0 ml-md-5 pl-5 mb-5">
                <h2 class="block_5050_title mb-5"> CAPTIVE STATE </h2>

                <p>
                    Jellyfish is proud to be working on Captive State.
                    Set in a Chicago neighborhood nearly a decade after an occupation by an extra-terrestrial force,
                    Captive State explores the lives on both sides of the conflict – the collaborators and dissidents.
                </p>

                <button class="view_project_button mt-4"> View project </button>
            </div>
        </div>
    </div>



</div>
