<div class="row my-5 block_5050 block_5050_text_left_container">

    <div class="col-12 col-lg-6 pl-0 pl-sm-5 py-5 pr-0 pb-0 pb-sm-5 text-right">
        <div class="block_5050_text_area_left h-100 d-flex ml-0 ml-md-5 pl-0 pl-md-5 text-right">
            <div class="block_5050_content text-right mt-5 align-self-center">
                <h2 class="block_5050_title mb-5"> STAR WARS: A SOLO STORY </h2>
                <p>
                    Jellyfish Pictures worked on just over 100 shots for the second anthology film in the Star Wars series, 
                    following Rogue One: A Star Wars Story. Jellyfish were given three sequences from its client ILM to work 
                    on for the film.
                </p>

                <button class="view_project_button mt-4"> View project </button>
            </div>
         </div>
    </div>

    <div class="col-12 col-lg-6 mr-0 px-0">
        <img src="/wp-content/themes/erebus/assets/images/5050_1.png" class="block_5050_image_right">
    </div>

</div>