<div class="container hero_social px-0">
        <h1 class="hero_social_title my-5"> Follow Us </h1>

        <div class="hero_social_icons">
                <img src="/wp-content/themes/erebus/assets/icons/vimeo_light.svg">
                <img src="/wp-content/themes/erebus/assets/icons/facebook_light.svg" class="ml-5">
                <img src="/wp-content/themes/erebus/assets/icons/twitter_light.svg" class="ml-5">
        </div>
</div>