.view-project-button {
    height: 50px;
    padding: 17px 32px;
    font-size: 11px;
    font-weight: bold;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1px 15px 40px -12px rgba(54,7,211,.5),0 -10px 22px -4px #07c9d3;
    letter-spacing: 1.8px;
    color: #07C9D3;
    text-transform: uppercase;
}