.block-5050 {
    margin-top: 100px;
}

.block-5050__title {
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 1315px) {
    .block-5050__text-left {
        border: 15px solid #070B1F;
        border-right: none;
        text-align: right;
        height: 100%;
    }

    .block-5050__text-left-container {
        margin-right: -60px;
    }

    .block-5050__text-left-image {
        width: calc(100% - 60px);
    }

    .block-5050__text-right {
        border: 15px solid #070B1F;
        height: 100%;
        border-left: none;
        text-align: left;
        height: 691px;
    }

    .block-5050__text-right-container {
        margin-right: 10px;
        margin-top: 100px;
    }

    .block-5050__text-right-image {
        width: calc(100% + 10px);
    }

    .block-5050__content {
        width: 75%;
        margin-left: 50px;
        margin-top: 50px;
    }

    .block-5050__title {
        letter-spacing: 6.3px;
        font-size: 40px;
        margin-top: 120px !important;
    }

}

@media (min-width: 1000px) {

    .block-5050__text-left {
        height: 100%;
        padding-right: 50px;
        padding-left: 0 !important;
    }
    .block-5050__title {
        letter-spacing: 6.3px;
        font-size: 35px;
        margin-top: 50px;
    }
    .block-5050__content {
        margin-top: 20px !important;
    }
}

@media (max-width: 999px) {
    .block-5050__text-left {
        border: 10px solid #070B1F;
        height: 100%;
        border-right: none;
        border-bottom: none;
        text-align: right;
        height: 691px;
        padding-right: 0;
    }

    .block-5050__text-right {
        border: 10px solid #070B1F;
        height: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        text-align: left;
        height: 691px;
    }

    .block-5050__content {
        width: 90%;
        margin-bottom: 30px;
        padding-left: 20px;
        margin-right: 20px !important;
        padding-right: 0px;
    }

    .block-5050__title {
        letter-spacing: 6.3px;
        font-size: 32px;
    }

    .block-5050__content {
        width: 95%;
        margin-top: 30px !important;
    }

}
