#footer {
    height: 398px;
    padding-top: 145px;
}

#footer > * > a {
   text-decoration: underline;
}

.footer__text {
    font-size: 17px;
}

@media (min-width: 769px) {
    .footer__text--small {
        font-size: 11px;
    }
}
@media (max-width: 768px) {
    .footer__text--small {
        font-size: 15px;
    }
}

.footer__text_gray {
    color: #888888;
}



@media (min-width: 992px) {
    #footer__logo {
        width: 75%;
        margin-top: 25px;
        text-align: center;
    }
}

@media (max-width: 991px) {
    #footer__logo {
        width: 50%;
        margin-top: 25px;
        text-align: left;
    }
}