*.log
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/*
!wp-content/cache/.gitkeep
wp-content/w3tc-config/*
!wp-content/w3tc-config/.gitkeep
wp-content/upgrade/*
!wp-content/upgrade/.gitkeep
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

wp-content/themes/*/acf-json/*

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

.DS_Store
node_modules/*
.idea/*
vendor/*
.env
docs/*
output/*
/vendor/*
!/vendor/.gitkeep
imgcache
public/*
!public/.gitkeep
./vscode