<div id="site-footer" class="row">

    <div class="col-12 col-md-6 col-lg-4 text-center">
        <img src="/wp-content/themes/erebus/assets/images/logo-footer.png" id="footer-logo">
    </div>

    <div class="col-12 col-md-4 offset-md-2 col-lg-4 pl-5 pl-md-2 pl-lg-5 mt-5 footer-print">
        <div class="text-gray">
            Jellyfish Pictures Ltd. <br>
            66-68 Margaret Street, <br>
            London, W1W 8SR <br>
        </div>
        <a href="https://www.google.co.uk/maps/dir//Jellyfish+Pictures+Ltd,+Valentia+Pl,+Brixton,+London+SW9+8EP,+Great+Britain/@51.4630744,-0.111994,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761b2a91027723:0x28e737855aef96cf!2m2!1d-0.1098053!2d51.4630744!3e0" target="_blank"> Get directions </a>
    </div>

    <div class="col-12 col-md-5 offset-md-1 col-lg-4 pl-5 pl-lg-0 mt-5 footer-print">
        Contact us <br>
        <span class="text-gray"> +44 (0) 20 7580 8154 </span> <br>
        <a href="mailto:newbusiness@jellyfishpictures.co.uk">newbusiness@jellyfishpictures.co.uk</a> <br>
        <a href="mailto:recruitment@jellyfishpictures.co.uk">recruitment@jellyfishpictures.co.uk</a> <br>
    </div>

    <div class="col-12 col-md-6 col-lg-4 pl-5 pl-5 pl-lg-0 px-0 mt-5 mb-3 footer-print text-center text-lg-right">
            <img src="/wp-content/themes/erebus/assets/icons/vimeo.svg" class="mr-5">
            <img src="/wp-content/themes/erebus/assets/icons/facebook.svg" class="mr-5">
            <img src="/wp-content/themes/erebus/assets/icons/twitter.svg" class="mr-5">

        <div class="mt-5 mr-5 small-footer-print">
            PRIVACY POLICY | COPYRIGHT 2018 JELLYFISH PICTURES
        </div>
    </div>

</div>