<div id="footer" class="row px-0">

    <div class="col-12 col-lg-6 col-xl-3 text-left text-lg-center">
        <img src="/wp-content/themes/erebus/assets/images/logo_footer.png" id="footer__logo">
    </div>

    <div class="col-12 col-lg-5 offset-lg-1 offset-xl-0 col-xl-3 pl-5 pl-xl-3 mt-5 mb-0">
        <div class="footer__text footer__text--gray">
            Jellyfish Pictures Ltd. <br>
            66-68 Margaret Street, <br>
            London, W1W 8SR <br>
        </div>
        <a href="https://www.google.co.uk/maps/dir//Jellyfish+Pictures+Ltd,+Valentia+Pl,+Brixton,+London+SW9+8EP,+Great+Britain/@51.4630744,-0.111994,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761b2a91027723:0x28e737855aef96cf!2m2!1d-0.1098053!2d51.4630744!3e0" target="_blank"> Get directions </a>
    </div>

    <div class="col-12 col-lg-5 offset-lg-1 offset-xl-0 col-xl-3 pl-5 pl-xl-0 mt-5 mb-3 mb-xl-0">
        <div class="footer__text">
            Contact us <br>
            <span class="footer__text--gray"> +44 (0) 20 7580 8154 </span> <br>
            <a href="mailto:newbusiness@jellyfishpictures.co.uk">newbusiness@jellyfishpictures.co.uk</a> <br>
            <a href="mailto:recruitment@jellyfishpictures.co.uk">recruitment@jellyfishpictures.co.uk</a> <br>
        </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-3 pl-5 pl-md-0 px-0 mt-5 mb-3">
        <div class="footer__text text-right">
            <img src="/wp-content/themes/erebus/assets/icons/vimeo.svg" class="mr-5">
            <img src="/wp-content/themes/erebus/assets/icons/facebook.svg" class="mr-5">
            <img src="/wp-content/themes/erebus/assets/icons/twitter.svg" class="mr-5">

            <div class="mt-5 mr-5 footer__text--small">
                PRIVACY POLICY | COPYRIGHT 2018 JELLYFISH PICTURES
            </div>
        </div>
    </div>

</div>