<div id="header-hero">
    <div class="row px-0 mx-0">
        <div class="col-12 col-md-6 offset-md-3 px-0 align-self-center">

            <img src="/wp-content/themes/erebus/assets/images/main-logo.svg" class="text-center my-5">

            <p id="header__subtitle">
                WE ARE AN AWARD WINNING ANIMATION & VFX STUDIO
            </p>

        </div>

    </div>

    <img id="header__symbol" src="/wp-content/themes/erebus/assets/images/header_symbol.png">
</div>

<div class="header">
    <div class="row">

        <div class="col-3">
            <img src="/wp-content/themes/erebus/assets/images/logo-navbar.svg" class="my-1">
        </div>

        <div class="col-3 offset-6 text-right pr-4 my-4">
            <span id="menu-open" class="overlay__control" onclick="toggleNavigation()">MENU &#9776;</span>
            <span id="menu-close" class="overlay__control" onclick="toggleNavigation()">CLOSE <img src="/wp-content/themes/erebus/assets/icons/menu_close.svg"></span>
        </div>

    </div>
</div>

 <div id="overlay" class="h-100">
    <div id="overlay__content" class="align-self-center">
        <a href="#">About</a>
        <a href="#">Showreel</a>
        <a href="#">Lab</a>
        <a href="#">Careers</a>
        <a href="#">News</a>
        <a href="#">Contact</a>

        <div id="overlay__social-icons">
            <img src="/wp-content/themes/erebus/assets/icons/vimeo_light.svg">
            <img src="/wp-content/themes/erebus/assets/icons/facebook_light.svg" class="ml-5">
            <img src="/wp-content/themes/erebus/assets/icons/twitter_light.svg" class="ml-5">
        </div>
    </div>

</div>